*font: xft:PxPlusIBMVGA8:style=regular:size=12:antialias=false 
*boldFont: xft:PxPlusIBMVGA8:style=regular:size=12:antialias=false 
*scrollBar: false

urxvt.iso14755: false
urxvt.internalBorder: 10
urxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
urxvt.keysym.Control-Shift-V: eval:paste_clipboard

! special
*.foreground: #99ccbf
*.background: #0b0d0d
*.cursorColor: #99ccbf

! black
*.color0: #192626
*.color8: #708c8c

! red
*.color1: #cc7a7a
*.color9: #e6a1a1

! green
*.color2: #c1cc7a
*.color10: #d2e6a1

! yellow
*.color3: #cca37a
*.color11: #e8c2a2

! blue
*.color4: #7aa3cc
*.color12: #a1c8e6

! magenta
*.color5: #857acc
*.color13: #aba1e6

! cyan
*.color6: #7ac1cc
*.color14: #a1d2e6

! white
*.color7: #cccccc
*.color15: #e6e6e6
